In [1]:
import numpy as np
import pandas as pd

In [2]:
import sys
sys.path.insert(0, '../../../Python/')

from Functions import createDbSGS

In [3]:
file_name = 'database_labels.csv'
df = pd.read_csv(file_name, sep=',')
df.head()

       y  annotator_1  annotator_2  annotator_3  annotator_4  annotator_5
0  False        False        False        False         True         True
1  False        False        False        False         True        False
2  False        False        False        False        False        False
3  False        False        False        False         True         True
4  False        False        False         True         True         True

In [4]:
column_names = ['y','annotator_1', 'annotator_2', 'annotator_3', 'annotator_4', 'annotator_5']

In [5]:
def majority_voting(row):
    row_data = row.drop(column_names[0])
    if sum(row_data) > (len(row_data)/2):
        return True;
    else:
        return False;

In [6]:
df['Z'] = df.apply(lambda row: majority_voting(row), axis=1)
df.head()

,y,annotator_1,annotator_2,annotator_3,annotator_4,annotator_5,Z
0,False,False,False,False,True,True,False
1,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,True,True,False
4,False,False,False,True,True,True,True

In [7]:
createDbSGS(df)