In [1]:
import numpy as np
import pandas as pd

In [2]:
import sys
sys.path.insert(0, '../../../Python/')

from Functions import createDbAttributes, createDbLabels

In [3]:
file_name = 'column.dat'
column_names = ['attr_1', 'attr_2','attr_3','attr_4','attr_5', 'attr_6','class']
df = pd.read_csv(file_name, sep=' ', names=column_names)
df.head()

   attr_1  attr_2  attr_3  attr_4  attr_5  attr_6 class
0   63.03   22.55   39.61   40.48   98.67   -0.25    AB
1   39.06   10.06   25.02   29.00  114.41    4.56    AB
2   68.83   22.22   50.09   46.61  105.99   -3.53    AB
3   69.30   24.65   44.31   44.64  101.87   11.21    AB
4   49.71    9.65   28.32   40.06  108.17    7.92    AB

In [4]:
target_class = 'class'
z = [True if i == 'NO' else False for i in df[target_class]]
X = df.drop(columns=[target_class])

In [5]:
samples = len(z)
M = 5
P = [0.9, 0.7, 0.5, 0.4, 0.3]
boolz = np.array(z, dtype=bool)

In [6]:
column_names = ['y','annotator_1', 'annotator_2', 'annotator_3', 'annotator_4', 'annotator_5']
Y = pd.DataFrame(columns=column_names)
R = pd.DataFrame(columns=column_names)

Y[column_names[0]] = np.array(z, dtype=bool)
R[0] = np.array(z, dtype=bool)

In [7]:
for i in range(1, (M+1)):
    R[column_names[i]] = np.random.binomial(1, P[i-1], samples).astype('bool')
    boolr = np.array(R[column_names[i]], dtype=bool)
    Y[column_names[i]] = [np.logical_not(boolz[idx]) if val == False else boolz[idx] for idx,val in enumerate(boolr)]

In [8]:
print(Y.head())
print('--------')
print(R.head())

       y  annotator_1  annotator_2  annotator_3  annotator_4  annotator_5
0  False        False        False        False         True         True
1  False        False         True        False         True        False
2  False        False         True        False         True         True
3  False        False        False         True         True         True
4  False        False         True         True         True         True
--------
     y  annotator_1  annotator_2  annotator_3  annotator_4  annotator_5      0
0  NaN         True         True         True        False        False  False
1  NaN         True        False         True        False         True  False
2  NaN         True        False         True        False        False  False
3  NaN         True         True        False        False        False  False
4  NaN         True        False        False        False        False  False

In [9]:
X.head()

   attr_1  attr_2  attr_3  attr_4  attr_5  attr_6
0   63.03   22.55   39.61   40.48   98.67   -0.25
1   39.06   10.06   25.02   29.00  114.41    4.56
2   68.83   22.22   50.09   46.61  105.99   -3.53
3   69.30   24.65   44.31   44.64  101.87   11.21
4   49.71    9.65   28.32   40.06  108.17    7.92

In [10]:
Y.head()

       y  annotator_1  annotator_2  annotator_3  annotator_4  annotator_5
0  False        False        False        False         True         True
1  False        False         True        False         True        False
2  False        False         True        False         True         True
3  False        False        False         True         True         True
4  False        False         True         True         True         True

In [11]:
createDbAttributes(X)
createDbLabels(Y)